
:root {

}

/* Landing Page */



/* Full Recipe List */

.recipes {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    padding: 1rem 0;
    border-radius: 10px;
}

.recipes div {
    display: grid;
    margin: 3rem;
    border: 2px solid black;
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 400px;
    padding: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    border-radius: 5px;
}

.recipes div:hover {
    transform: scale(1.04);
    transition-duration: .2s;
    cursor: pointer;
}

.recipes a {
    text-decoration: none;
    color: black;
}

.recipes div img {
    width: 250px;
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}


/* Model */

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #e1e1e1;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    justify-content: center;
    text-align: center;
}

.modal-content img {
    max-width: 80%;
    border-radius: 10px;
    border: 2px solid black;
}

#modal-ingredients {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.close {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}


/* Search By Catagory */